h1{
    text-align: center;
}

.imagejs{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    height: 200px;
}

.container{
    margin: 4cm;
    text-align: center;
   
}

.s1{
    text-align: left;

}